main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
button {
    width: 100%;
}

mat-card {
    padding: 10px;

}